@charset "UTF-8";
body{
	margin:	0px;
	padding: 0px;
	box-sizing:border-box;
}
.wrap{
	/* 전체웹에 최대 가로길이를 주고 margin: 0 auto하게되면 중앙배치됨 */
	max-width:1920px;
	height: 5000px;
	margin:0 auto;
	background-color: aqua;
}
.top{
	background-color:olive;
	width: 100%;
	height: 80px;
	float: left;
}
.logo-login {
    justify-content: space-between;
    align-items: center;
    float:left;
}
.logo{
	position:relative;
	left:800px;
	width:350px;
	height:300px;
	background-color: red;
	float:left; 
}
.login{
	width:200px;
	background-color:orange;
	position: relative;
	top: 0px;
	float:right;
	left:1375px;
	
}
.login a{
	
	text-decoration: none;
	color : black; 
	font-size: 25px;
	font: bold;
	
}
.login a:hover{
	cursor: pointer;
	color: red;
}
.search{
	position: relative;
	top:0px;
	left:1700px; 
}
.search input{
	height: 40px;
}
.menu{
	margin:0 auto;
	background-color:red;
	margin-top:200px;
	display: flex;
    justify-content: center;
    list-style: none;
    width: 80%; /* 이 값을 조정하여 메뉴 항목 간의 거리를 조절할 수 있습니다. */
	display:flex;
}
.icon{
	background-color: blue;
	float: left;
}
.menu_list{
	float: right;
}
.menu ul{
	display:table;
	list-style: none;
}
.menu ul li{
	margin-left:20px;
	padding:10px;
	float:left;
	font-size: 30px;
	font-family: 돋움;
}

.menu ul li a{
	text-decoration: none;
	color: black;
}

.menu ul li a:hover{
	color: green;
	cursor: pointer;
}

.sidebar ol{
	margin:0px;
	padding:0px;
	list-style:none;
	
}
.sidebar ol>li{
	padding-top:10px;
	margin-right: 0px;
	font-family: 돋움;
	font-weight: bold;
}

.sidebar ol>li>a{
	text-decoration: none;
	color: black;
}

.sidebar ol>li>a:hover{
	color: green;
	cursor: pointer;
}
/* header css close */
nav{
	background-color: blue;
}
nav div{
	width:1920px;
	height:600px;
}

nav_bar ul li a{
	float:left;
}

main{
	width:1920px;
	height:3000px;
	margin: 0 auto;
	background-color: black;
}

.mainText1{
	font-size: 40px;
	font-weight: bold;
	margin-top:100px;
	margin-left: 40px;
	background-color: yellow;
}

.pdList{
	list-style: none;
	
}
.pdListCon{
	float:left;
	padding-right: 30px;
}

.imgWrap{
	width:300px;
	height:450px;
}
.txtWrap{
	background-color:aqua;
	width:300px;
	float: left;
}
.txtWrap a{
	text-decoration:none;
	color: black;
	font-weight: bold;
}
.pdPrice{
	float:left;
}
.pdPrice a{
	font-size: 22px;
}
.cart{
	float:right;
}
.cart a img{
	background-color:aqua;
	width: 50px;
}

/* 적용이안될 때 방문기록 삭제하면 적용될 때 있다 -> 크롬의 경우 자주 발생한다. */
