@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.member_warning, .btn_join{margin:15px 0 0 0;}
/* 회원가입 */
.join-form {
	overflow: hidden;
}
.join-form table{
	width: 100%;
}
.join-form table th{
	padding: 10px 25px;
	background: #F6F6F6;
	text-align: center;
	border-bottom: 1px solid #999;
	font-size: 16px;
	font-weight: normal;
}
.join-form table th span{
	padding: 0 0 0 10px;
	margin: 0 0 0 -10px;
}
.join-form table th:first-child,
.join-form table td:first-child{
	border-left:none;
}
.join-form table td{
	padding : 15px 0 15px 15px;
	border-bottom: 1px solid #dcdcdc;
	font-size: 15px
}
.join-form table input[type="text"],
.join-form table input[type="email"]{ 
	width: 300px;
	height: 25px;
}
.join-form table input[type="password"],
.join-form table input[type="tel"]{
	width: 200px;
	height: 25px;
}

.join-form table .form_element{
	display:block;
	margin-top: 5px;
}
.join-form table .id_jchk{
	float: inherit;
	font-size:12px;
	background:#7cd12e;
	border : 1px solid #7cd12e;
	color : #f1f1f1;
	width: 70px;
	height: 30px;
	cursor: pointer;
}
.join-form .btn_join{
	margin-left: 270px;
}
.join-form .btn_join button:first-child{
	width: 150px;
	height: 50px;
	margin : 10px 0 0 0;
	border: 1px solid #7cd12e;
	background: #7cd12e;
	color:#fff;
	font-size : 14px;
	font-weight: bold;
	cursor:pointer;
}
.join-form .btn_join button{
	width: 150px;
	height: 50px;
	margin : 10px 0 0 0;
	border: 1px solid #999;
	background: #999;
	color:#f1f1f1;
	font-size : 14px;
	font-weight: bold;
	cursor:pointer;
}
/* 로그인 */
.login-form .login_box h2 {
	margin: 0 0 0 168px;
 	font-weight:normal;
	font-size: 19px;
	color: #222;
}

.login-form .login_box .login_input_sec{
	overflow: hidden;
}
.login-form .login_box .login_input_sec > div{
	float: left;
}
.login-form .login_box .login_input_sec input{
	display:block; 
	width:292px; 
	height:36px; 
	margin:15px 0 10px 0; 
	padding:0 0 0 8px; 
	border:1px solid #ccc; 
	color:#ccc;}
	
 .login-form .login_box .login_input_sec button{
	float:rigth;
	width: 158px;
	height: 91px;
	margin: 15px 0 0 15px;
	border: 1px solid #7cd12e;
	background: #7cd12e;
	color:#fff;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}	
.login-form .login_box .login_input_sec button:hover{
	background:#7cd12e; 
	border:1px solid #7cd12e;}

.login-form .btn_login{
	overflow: hidden;
	margin: 20px 0 0 0;
	padding : 20px 0 0 0;
	border-top: 1px solid #888;
}
.login-form .btn_login ul .join_box {
	width: 150px;
	height: 50px;
	margin : 10px 0 0 0;
	border: 1px solid #7cd12e;
	background: #7cd12e;
	color:#fff;
	font-size : 14px;
	font-weight: bold;
	cursor:pointer;
}
.login-form .btn_login button{
	width: 150px;
	height: 50px;
	margin : 10px 0 0 0;
	border: 1px solid #888;
	background: #fff;
	color:#333;
	font-size : 14px;
	font-weight: bold;
	cursor:pointer;
}
.login-form .btn_login li{
	float: left;
	margin : 0 0 0 10px;
	list-style: none;
}

