@charset "UTF-8";

body{	/* 전체 웹사이트 마진,패딩값 초기화 */
	box-sizing:border-box;
	background-color: #FDF9E7;
}

img{
	border-radius: 20px;
}
.nav_bar{	/* 뭐라그러더라.. 아무튼 하이브릭스 포스터? css */
	margin-top: 30px;
	position : relative; /* 위치를 설정하기 위해 절대 위치 지정 */
	left: 50%; /* 왼쪽에서 50% 지점을 기준으로 정렬 */
	transform: translateX(-50%);
	width: 3000px;
}

.carousel-control-prev{
	position:fixed;
	left:500px;
}
.carousel-control-next{
	position:fixed;
	right:500px;
}
.carousel-control-prev-icon{
	color: black;
}

.nav_bar>ul>li{	/* 하이브릭스 포스터? css */
	margin:-40px;
	list-style: none;
}

.main_content{
	width:1500px;
	margin-top: 250px;
	position : absolute; /* 위치를 설정하기 위해 절대 위치 지정 */
	left: 50%; /* 왼쪽에서 50% 지점을 기준으로 정렬 */
	transform: translateX(-50%);
	
}

.mainText1{	/* 이물품은 어떠세요? */
	font-size: 40px;
	font-weight: bold;
	margin-top: 40px;
	margin-left: 300px;
}
.pdcontainer{
	margin-top: 100px;
	width: 100%;
}
.pdTitle{
	text-align: center;
	font-size:25px;
	font-weight: bold;
	margin-bottom: 40px;
}

.pdList{	/* 상품List 소개 */
	display:flex;
	justify-content:center;
	list-style: none;
	width:60%;
	margin: 0 auto;

}
.pdList2{	/* 상품List 소개 */
	display:flex;
	justify-content:center;
	list-style: none;
	width: 1200px;
	margin: 0 auto;
}

.pdListCon{	/* 상품별 li css  */
	float:left;
	list-style: none;
	padding:5px;
}

.searchlist_content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
}

.searchList {
    list-style: none;
    width: 970px; /* 또는 다른 너비 값 */
    margin: 0 auto; /* 가운데 정렬 */
}
.searchListCon{
	float:left;
	list-style: none;
	justify-content:center;
	padding:10px;
}
.pdListText{	/* 할인상품의 놓치기아쉬운 할인상품 애니메이션구간 css + javascript 시작 */
	position:relative;
	left:-100px;
	margin-left: 80px;
	font-weight: bold;
}
.pdListText h1{
	font-size: 45px;
	font-weight: bold;
}
.pdListText h2{
	font-size: 30px;
	font-weight: bold;
	color: orange;
}
.pdListText h3{
	font-size: 25px;
	font-weight: bold;
}
.pdListText button{
	margin-top:10px;
	font-size: 25px;
	font-weight: bold;
}
@keyframes slide{
	from{
	left:-500px;
	opacity:0;
	
	}
	to{
	left: -100px;
	opacity:1;
	}
}

@keyframes disappear{
	from{
	left: -100px;
	opacity:1;
	
	}
	to{
	left:-500px;
	opacity:0;
	}
}	/* 할인상품의 놓치기아쉬운 할인상품 애니메이션구간 css + javascript 끝 */

/* 더보기 버튼 css */
.moreBtn{
   display: inline-block;
   padding: 10px 20px;
   font-size: 16px;
   text-align: center;
   text-decoration: none;
   cursor: pointer;
   outline: none;
   border: none;
   border-radius: 5px;
   color: #fff;
   background-color: #4caf50;
   transition: background-color 0.3s;
}

.moreBtn:hover {
   background-color: #45a049;
}

/* 상품이미지 div css */
.wrap{
	
	margin-top: -250px;
}

.imgWrap a img{
    width: 200px; /* 메인상품이미지 너비의 설정 */
    height: 250px; /* 메인상품이미지 높이 조정 */
    position: relative;
    left: 50%; /* 왼쪽에서 50% 지점을 기준으로 정렬 */
    transform: translateX(-50%);
}

.txtWrap{	/* 상품제목 css*/
	width:200px;
	float: left;
}
.txtWrap a{	
	text-decoration:none;
	color: black;
	font-weight: bold;
	font-size:16px;
}
.pdPrice{	/* 상품가격 css*/
	float:left;
}
.pdPrice a{
	font-size: 18px;
}

.cart{	/* 장바구니 css */
	float: right;
}
.cart img{
	width: 30px;
}
.cart img:hover{
	cursor: pointer;
}

.search_null{
	font-weight: bold;
}

/* 페이징 */
.pageBtn {
    width: 30px;
    font-size: 15px;
    margin: 15px;
    display: inline-block;
    padding: 5px;
    border: 1px solid #FF6244;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    background-color: white;
    color: #FF6244;
}
.page {
	margin-top: 50px;
}
.pageBtn {
    margin: 0 5px; /* 좌우 간격을 5px로 조정합니다. */
}
.prevBtn,
.nextBtn {
    margin: 0 10px; /* 좌우 간격을 10px로 조정합니다. */
}

/* 리뷰 */
.reviewCon{
	width: 1920px;
	display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
	position : relative; /* 위치를 설정하기 위해 절대 위치 지정 */
	left: 50%; /* 왼쪽에서 50% 지점을 기준으로 정렬 */
	transform: translateX(-50%);
}
.reviewCon>img{
	display: grid;
    place-items: center;
    margin: 0;
    text-align: center;
    margin-top: 100px; 
}
.reviewCon>h2{
	text-align: center;
	margin:20px;
	font-size: 40px;
}
.reviewImg{
	width: 300px;
	height: 400px;
	
}
.star-rating{
	border: 2px solid pink;
	margin-bottom: 20px;
}
.star{
	margin: 20px;
}

.ratingForm{
	background: #FDF9E7;
}

.reviewTable{
  	border-collapse: collapse;
}
.reviewTh{
  background-color: #ff9fb0;
  border:1px solid #ddd;
  padding: 15px;
  text-align: center;
  font-size: 30px;
  width:20%;
}

.reviewTd{
  border: 1px solid #dddddd;
  padding: 8px;
}
.reviewTd>input{
	border: 2px solid #ccc; /* 테두리 추가 */
  padding: 10px; /* 내부 여백 추가 */
  border-radius: 5px; /* 모서리를 둥글게 만듭니다 */
  background-color: #f9f9f9; /* 배경색 설정 */
  cursor: pointer; /* 커서를 포인터로 변경하여 사용자에게 클릭 가능성을 나타냅니다 */
	
}

.reviewTd>input , textarea{
	border: none;
	outline:none;
	font-size: 30px;
	background: #FDF9E7;
	
}
#reviewBtn{
	display:block;
	margin:0 auto;
	width: 150px;
	height: 70px;
	font-size: 30px;
}
/* 적용이안될 때 방문기록 삭제하면 적용될 때 있다 -> 크롬의 경우 자주 발생한다. */
